node_modules


game/scripts/vscripts/**/*.lua
game/scripts/vscripts/*.lua
!game/scripts/vscripts/lua/.lua
content/materials/models/
content/maps/
content/models/
# Dota 2 stuff
*.bin
*.vcss_c
*.vxml_c
*.vtex_c
*.vjs_c
*.vpcf_c
*.vmat_c
*.vpk
*.vmdl_c
*.vmesh_c
*.vsndevts_c
*.vsnd_c
*.tga
panorama_debugger.cfg

